
<div id="pedido">
    <h2>Pedido</h2>
    <section >
            <app-input (valueChange)="updateValue($event)" [name]="'Produto'" [desc]="'Digite o nome do produto corretamente!'"></app-input>
            
        
        <div id="observacoes">
            <label for="observacoes">Observacoes</label>
            <textarea name="observacoes" placeholder="Digite uma objservação caso nescessário. " id=""></textarea>
        </div>

        <div id="finaliar">
            <app-botao (click)="fazerPedido()" [texto]="'Finalizar'" ></app-botao>
        </div>
        
    </section>
    
   

</div>