
<div id="pedido">
    <h2>Pedido</h2>
    <form >
            <app-input [name]="'Produto'"></app-input>
            <app-input [name]="'Quantidade'"></app-input>
            <app-input [name]="'Produto'"></app-input>
            <app-input [name]="'Quantidade'"></app-input>
        
        <div id="observacoes">
            <label for="observacoes">Observacoes <span>*</span></label>
            <textarea name="observacoes" id=""></textarea>
        </div>

        <div id="finaliar">
            <app-botao [texto]="'Finalizar'" ></app-botao>
        </div>
        
    </form>
    
   

</div>