<div id="detalhes">
    <h2>Detalhes</h2>

    <div id="middle">
        <div id="burger">
            <img src="assets/hamburguer.png" alt="hamburguer">
            <h3>{{hamburguer.name}}</h3>
            <p>{{hamburguer.baseDescriptio}}</p>
            <h4 id="preco">{{hamburguer.price.toFixed(2)}} R$</h4>
        </div>

        <div id="descricao">
            <h4>Descrição</h4>
            <p>{{hamburguer.fullDescription}}</p>
        </div>
    </div>

    <app-botao routerLink="/pedido" [texto]="'Comprar'"></app-botao>
</div>