<div id="cardapio">
    <h2>{{titulo}}</h2>

    <div id="listagem" >

        @if(rounteId == null){
            <app-hamburguer-card *ngFor="let categoria of displayArrayList" [name]="categoria.name" [id]="categoria.id" [description]="categoria.description" routerLink="/cardapio/{{categoria.id}}" ></app-hamburguer-card>
        } @else{
            <app-hamburguer-card *ngFor="let hamburguer of displayArrayList" [name]="hamburguer.name" [id]="hamburguer.id" [description]="hamburguer.baseDescription" routerLink="/detalhes/{{hamburguer.id}}" ></app-hamburguer-card>
        }
        
    </div>
    
    <app-botao *ngIf="mostrarBotao" (click)="cardapioCompleto()" [texto]="'Ver cardápio completo'"></app-botao>
</div>
